.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.input-box-style {
  height: 50px;
  width: 450px;
  font-size: 25px;
}